<div class="container">

	<div class="page-content">
		<h4>Angular is {{status}}</h4>
		<h5>You're logged in as:</h5>

		Id: {{profile.id}}
		<p />
		Username: {{profile.username}}
		<p />
		Email: {{profile.email}}
		<p />
		Full Name: {{profile.firstName}} {{profile.lastName}}

		<p />

		<button name="Logout" ng-click="logout()">Logout</button>

		<div ng-show="isCliente">
			<h3>Solo con permiso cliente se ve esto</h3>
			<div>
				<h3>Insertar cliente</h3>
				<form ng-submit="agregarCliente()">
					<input type="text" placeholder="nombre"
						ng-model="nuevoCliente.nombre" /> <input type="text"
						placeholder="apellido" ng-model="nuevoCliente.apellido" /> <input
						type="text" placeholder="nroDoc" ng-model="nuevoCliente.nroDoc" />
					<input type="text" placeholder="tipoDoc"
						ng-model="nuevoCliente.tipoDoc" /> <input type="text"
						placeholder="nacionalidad" ng-model="nuevoCliente.nacionalidad" />
					<input type="text" placeholder="email"
						ng-model="nuevoCliente.email" /> <input type="text"
						placeholder="telefono" ng-model="nuevoCliente.telefono" /> <input
						type="text" placeholder="nacimiento"
						ng-model="nuevoCliente.nacimiento" /> <input type="submit"
						value="Agregar" />
				</form>
			</div>
			<div>
				<h3>Listar clientes</h3>
				<button name="getCliente" ng-click="getCliente()">Listar</button>
				<p />
				<input type="text" placeholder="nacionalidad" ng-model="nac" />
				<button name="reportClienteNac" ng-click="reportClienteNac()">Reporte
					de Clientes por Nacionalidad</button>
				<p />
				<input type="text" placeholder="cumpleanhos" ng-model="cump" />
				<button name="reportClienteCump" ng-click="reportClienteCump()">Reporte
					de Clientes por Cumpleanhos</button>
				<p />
				Clientes:
				<ul ng-repeat="(key, val) in clientes">
					<li>{{key}}:{{val}}</li>
				</ul>
			</div>
		</div>

		<div ng-show="isBolsaPuntos">
			<h3>Solo con bolsa puntos se puede ver</h3>
			<div>
				<h3>Insertar bolsa punto / cargar puntos</h3>
				<form ng-submit="agregarBolsaPunto()">
					<input type="text" placeholder="id cliente"
						ng-model="nuevoBolsaPunto.clienteId" /> <input type="text"
						placeholder="monto" ng-model="nuevoBolsaPunto.monto" /> <input
						type="submit" value="Agregar" />
				</form>
			</div>
			<div>
				<h3>Listar bolsas puntos</h3>
				<button name="getBolsaPuntos" ng-click="getBolsaPuntos()">Listar</button>
				<p />

				<input type="text" placeholder="idCliente" ng-model="idCliente" />
				<button name="reportBPcliente" ng-click="reportBPcliente()">Reporte
					de Bolsa de Puntos por Cliente</button>
				<p />
				<input type="text" placeholder="rangoPuntos" ng-model="rangoPuntos" />
				<button name="reportBPrango" ng-click="reportBPrango()">Reporte
					de Bolsa de Puntos por Rango de Puntos</button>
				<p />
				<input type="text" placeholder="dias a vencer" ng-model="dias" />
				<button name="reportBPvencimiento" ng-click="reportBPvencimiento()">Reporte
					de Bolsa de Puntos por X dias a vencer</button>
				<p />

				Bolsa Puntos:
				<ul ng-repeat="(key, val) in bolsas">
					<li>{{key}}:{{val}}</li>
				</ul>
			</div>
		</div>

		<div ng-show="isVencimientoPuntos">
			<h3>Solo con vencimiento puntos se puede ver</h3>
			<div>
				<h3>Insertar vencimiento de Puntos</h3>
				<form ng-submit="agregarVencimientoPunto()">
					<input type="text" placeholder="inicio validez"
						ng-model="nuevoVencimiento.inicioValidez" /> <input type="text"
						placeholder="fin validez" ng-model="nuevoVencimiento.finValidez" />
					<input type="text" placeholder="duracion"
						ng-model="nuevoVencimiento.duracion" /> <input type="submit"
						value="Agregar" />
				</form>
			</div>
			<div>
				<h3>Listar vencimiento puntos</h3>
				<button name="getVencimientoPuntos"
					ng-click="getVencimientoPuntos()">Listar</button>
				<p />

				Vencimiento Puntos:
				<ul ng-repeat="vencimiento in vencimientoPuntos">
					<li>Id Vencimiento: {{vencimiento.idVencimiento}}</li>
					<li>Fecha inicio validez: {{vencimiento.inicioValidez}}</li>
					<li>Fecha fin validez: {{vencimiento.finValidez}}</li>
					<li>Duracion: {{vencimiento.duracion}}</li>
					<li>Id Usuario: {{vencimiento.idUsuario}}</li>
					<li>Marca Tiempo: {{vencimiento.marcaTiempo}}</li>
				</ul>
			</div>
		</div>

		<div ng-show="isReglaPuntos">
			<h3>Solo con regla puntos se puede ver</h3>
			<div>
				<h3>Insertar regla puntos</h3>
				<form ng-submit="agregarReglaPuntos()">
					<input type="text" placeholder="limite inferior"
						ng-model="nuevaReglaPunto.limiteInferior" /> <input type="text"
						placeholder="limite superior"
						ng-model="nuevaReglaPunto.limiteSuperior" /> <input type="text"
						placeholder="equivalencia" ng-model="nuevaReglaPunto.equivalencia" />
					<input type="submit" value="Agregar" />
				</form>
			</div>
			<div>
				<h3>Listar regla puntos</h3>
				<button name="getReglaPuntos" ng-click="getReglaPuntos()">Listar</button>
				<p />

				Regla Puntos:
				<ul ng-repeat="(key, val) in reglaPuntos">
					<li>{{key}}:{{val}}</li>
				</ul>
			</div>
		</div>
		<div ng-show="isUsoPuntos">
			<h3>Solo con uso puntos se puede ver</h3>
			<div>
				<h3>Insertar uso punto</h3>
				<form ng-submit="agregarUsoPunto()">
					<input type="text" placeholder="id cliente"
						ng-model="nuevoUsoPunto.idCliente" /> <input type="text"
						placeholder="id concepto punto" ng-model="nuevoUsoPunto.idUso" />
					<input type="submit" value="Agregar" />
				</form>
			</div>
			<div>
				<h3>Listar uso puntos</h3>
				<button name="getUsoPuntos" ng-click="getUsoPuntos()">Listar</button>
				<p />

				Uso Puntos:
				<ul ng-repeat="(key, val) in usoPuntos">
					<li>{{key}}:{{val}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
