<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Account Demo</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
        <script src="//localhost:8180/auth/js/keycloak.js"></script>
        <script src="js/lib/angular-1.5.0.min.js"></script>
		<script src="js/lib/angular-route-1.5.0.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/main-controller.js"></script>
    </head>
    <body>
		<div ng-view></div>
    </body>
</html>

<!-- <!doctype html> -->
<!-- <html ng-app="demo"> -->
<!-- 	<head> -->
<!-- 		<title>Hello AngularJS</title> -->
<!-- 		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script> -->
<!--     	<script src="js/hello.js"></script> -->
<!-- 	</head> -->

<!-- 	<body> -->
<!-- 		<div ng-controller="Hello"> -->
<!-- 			<p>The ID is {{clientes}}</p> -->
<!-- 			<p>The content is {{clientes[0].nombre}}</p> -->
<!-- 		</div> -->
<!-- 	</body> -->
<!-- </html> -->